body {
  background-color: #F5DDDD;
}

#computer {
  float: left;
  margin-left: 20px;
}

#border-out {
  background-color: #F8F8F8;
  width: 820px;
  height: 680px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  clip-path: polygon(2% 0%, 98% 0%, 100% 100%, 0 100%);
}

#border-in {
  background-color: #DBDBDB;
  width: 680px;
  height: 540px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#monitor {
  width: 640px;
  height: 500px;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

#canvas {
  width: 640px;
  height: 320px;
}

#keyboard {
  background-color: #F8F8F8;
  margin: 5px auto;
  width: 920px;
  height: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  clip-path: polygon(5% 0%, 95% 0%, 100% 100%, 0 100%);
}

#slot {
  width: 640px;
  height: 10px;
  clip-path: polygon(2% 0%, 98% 0%, 100% 100%, 0 100%);
  background-color: #706F6F;
}

#floppy {
  width: 100px;
  height: 100px;
}
